<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.known.manager.mapper.BlogCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.known.common.model.BlogCategory" >
    <id column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="blogCount" property="blogCount" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Condition" >
    <where >
    	<if test="null!= categoryId">
     		and category_id = #{categoryId}
     	</if>
   		<if test="userId != null" >
       		and user_id = #{userId,jdbcType=INTEGER}
    	 </if>
    </where>
  </sql>
  
  
	 <sql id="Base_Column_List" >
	   category_id, user_id, name, rank
	 </sql>
  
  	 <select id="selectCount" resultType="java.lang.Integer">
 		select count(1) from known_blog_category <include refid="Base_Condition"/>
 	</select>
 	
   	<select id="selectList" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>,
		(
			select count(1) from known_blog b where b.category_id = c.category_id
				<if test="status != null" >
       				and b.status = #{status.type,jdbcType=INTEGER}
    			 </if>
				<if test="userId != null" >
       				and b.user_id = #{userId,jdbcType=INTEGER}
    			 </if>
		) blogCount
		  from known_blog_category c <include refid="Base_Condition"/>
		  order by rank
	 </select>
 
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from known_blog_category
 	where category_id = #{categoryId}
  </delete>
  
  <insert id="insert" parameterType="com.known.common.model.BlogCategory" >
    insert into known_blog_category (user_id, name, 
      rank)
    values (#{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{rank,jdbcType=INTEGER})
  </insert>
  
 
  
  <update id="update" parameterType="com.known.common.model.BlogCategory" >
    update known_blog_category
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=INTEGER},
      </if>
    </set>
    <include refid="Base_Condition"/>
  </update>
 
</mapper>