<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.known.manager.mapper.KnowledgeMapper" >
  <resultMap id="BaseResultMap" type="com.known.common.model.Knowledge" >
    <id column="knowledge_id" property="knowledgeId" jdbcType="VARCHAR" />
    <result column="p_category_id" property="pCategoryId" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="knowledge_image" property="knowledgeImage" jdbcType="VARCHAR" />
    <result column="knowledge_image_thum" property="knowledgeImageThum" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_icon" property="userIcon" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="read_count" property="readCount" jdbcType="INTEGER" />
    <result column="collection_count" property="collectionCount" jdbcType="INTEGER" />
    <result column="like_count" property="likeCount" jdbcType="INTEGER" />
	<result column="status" property="status" jdbcType="INTEGER" typeHandler="com.known.manager.handler.StatusHandler"/>
  </resultMap>
  
  <sql id="Base_Condition" >
    <where >
    	<if test="knowledgeId!=null and knowledgeId!=''">
    		and knowledge_id = #{knowledgeId}
    	</if>
    	<if test="userId!=null and userId!=''">
    		and user_id = #{userId}
    	</if>
    	<if test="categoryId!=null and categoryId!=''">
    		and category_id = #{categoryId}
    	</if>
    	<if test="pCategoryId!=null and pCategoryId!=''">
    		and p_category_id = #{pCategoryId}
    	</if>
    	<if test="null != status">
    		and status = #{status.type}
    	</if>
    	<if test="null!= startDate">
     		<![CDATA[ 
     				and create_time >= STR_TO_DATE('${startDate} 00:00:00','%Y-%m-%d %H:%i:%s')
     				]]>
     	</if>
     	 <if test="null!= endDate">
     		<![CDATA[ 
     				and create_time <= STR_TO_DATE('${endDate} 23:59:59', '%Y-%m-%d %H:%i:%s')		
     				]]>
     	</if>
    </where>
  </sql>  
  
	    <sql id="Base_Column_List" >
	    knowledge_id, p_category_id, category_id, title
			<if test="showContent">
		  		 ,content
		  	 </if>
		 ,summary, knowledge_image, knowledge_image_thum, user_id, user_icon, user_name, create_time, 
	    comment_count, read_count, collection_count, like_count,status
	  </sql>

	   <select id="selectList" resultMap="BaseResultMap">
	  		select <include refid="Base_Column_List"/>
	  		<if test="showContent">
	  		 ,content
	  		 </if>
	  		  from known_knowledge <include refid="Base_Condition"/>
	  		<if test="null!= orderBy">
	     		order by ${orderBy.orderBy}
	     	</if>
	  		<if test="null!= page">
	     		limit #{page.start},#{page.end}
	     	</if>
	  </select>
	
	 <select id="selectCount" resultType="java.lang.Integer">
	  		select count(1) from known_knowledge <include refid="Base_Condition"/>
	  </select>
  
  <delete id="delete" >
    delete from known_knowledge where knowledge_id = #{id}
  </delete>
  
  <update id="updateKnowledgeStatus">
	update known_knowledge set status = #{status.type} where 
	knowledge_id in (<foreach collection="ids" separator="," item="id"> #{id}</foreach>)
</update>
  
  <insert id="insert" parameterType="com.known.common.model.Knowledge" >
    <selectKey keyProperty="knowledgeId" resultType="java.lang.Integer" order="AFTER">
  		SELECT LAST_INSERT_ID()
  	</selectKey>
    insert into known_knowledge (p_category_id, category_id, 
      title, user_id, user_icon, 
      user_name, create_time, comment_count, 
      read_count, collection_count, like_count, 
      content, summary, knowledge_image, 
      knowledge_image_thum,status)
    values (#{pCategoryId,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR},
      #{title,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userIcon,jdbcType=VARCHAR},
      #{userName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{commentCount,jdbcType=INTEGER}, 
      #{readCount,jdbcType=INTEGER}, #{collectionCount,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR}, #{summary,jdbcType=LONGVARCHAR}, #{knowledgeImage,jdbcType=LONGVARCHAR}, 
      #{knowledgeImageThum,jdbcType=LONGVARCHAR},#{status.type,jdbcType=INTEGER})
  </insert>
  
  	<update id="updateInfoCount" >
	    update known_knowledge
	    <set>
	    		<if test="addReadCount">
	    				read_count = read_count + 1
	    		</if>
	    		<if test="addLikeCount">
	    				like_count = like_count + 1
	    		</if>
	    		<if test="addCommentCount">
	    				comment_count = comment_count + 1
	    		</if>
	    		<if test="addCollectionCount">
	    				collection_count = collection_count + 1
	    		</if>
	    </set>
	    where knowledge_id = #{articleId}
	</update>
</mapper>