<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.known.manager.mapper.TopicVoteUserMapper" >
  <resultMap id="BaseResultMap" type="com.known.common.model.TopicVoteUser" >
    <result column="vote_detail_id" property="voteDetailId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="vote_date" property="voteDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="insertBatch" parameterType="java.util.List" >
    insert into known_topic_vote_user (vote_detail_id, user_id, vote_date
      )
    values 
	<foreach collection="list" separator=","  item="item">
  	(		
  		#{item.voteDetailId,  jdbcType=VARCHAR}, #{item.userId,  jdbcType=VARCHAR},
		#{item.voteDate, jdbcType=TIMESTAMP}
  	)
  	</foreach>
  </insert>
  
  <select id="selectList" resultMap="BaseResultMap">
  		select * from known_topic_vote_user u inner join
  		 known_topic_vote_detail d on d.id = u.vote_detail_id
  		where vote_id = #{voteId} and u.user_id = #{userId}
  </select>
  
</mapper>