<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<#include "../include/top.html">
	<link rel="stylesheet" type="text/css" href="${realpath}/resources/webuploader/webuploader.css">
	<script type="text/javascript" src="${realpath}/resources/webuploader/webuploader.min.js"></script>
	<link rel="stylesheet" href="${realpath}/resources/css/shuoshuo.css" />
	<link rel="stylesheet" type="text/css" href="${realpath}/resources/css/userhome.css">
	<#if user.userPage==1>
	<link rel="stylesheet" type="text/css" href="${realpath}/resources/css/userfullhome.css">
		<#else>
		<style type="text/css">
		.comment-form textarea {
		  width: 320px;
		}
		</style>
	</#if>
	<script type="text/javascript" charset="utf-8" src="${realpath}/resources/laypage/laypage.js"></script>
	<script type="text/javascript">
		known.center = {
			userId: "${user.userid?c}",
		};
	</script>
	<title></title>
</head>
<body>
	<#include "../include/header.html">
	<div class="main">
		<div class="user-center-bg" style="background-color:#42332E;background-image: url('${realpath}/${user.userBg}')">
		<div class="user-home-icon"><img class="img-circle" src="${realpath}/${user.userIcon}"></div>
		<div class="user-characters">${user.characters!'这个人很懒，什么也没留下。'}</div>
		</div>

		<div class="left">
			<#include "../include/left.html">
		</div>


		<div class="right">
			<div class="user-home-tag">
				<ul class="tag" id="tag">
					<li type="shuoshuo"  class="active"><a href="${realpath}/user/${user.userid?c}">吐槽</a></li>
					<li type="topic" ><a href="${realpath}/user/${user.userid?c}#topic">讨论</a></li>
					<li type="ask" ><a href="${realpath}/user/${user.userid?c}#ask">问答</a></li>
					<li type="knowledge" ><a href="${realpath}/user/${user.userid?c}#knowledge">知识库</a></li>
					<li type="topic" style="border-bottom: 1px solid #fff;"><a href="${realpath}/user/${user.userid?c}/topic">话题</a></li>
					<li type="fans" ><a href="${realpath}/user/${user.userid?c}#fans">Ta的粉丝</a></li>
					<li type="focus" ><a href="${realpath}/user/${user.userid?c}#focus">Ta关注的人</a></li>
				</ul>
			</div>
			<!-- 说说 -->
<section id="cd-timeline" class="cd-container">
	

</section>

			
		
		<div class="clear"></div>

	</div>
	<#include "../include/footer.html">
	<script type="text/javascript" src="${realpath}/resources/js/shuoshuoItem.js"></script>
	<script type="text/javascript">
$(function(){
    loadShuoShuo();
});
function loadShuoShuo(){
    $('<div id="loading"> <div class="loading-con"><img src="' + known.realpath + '/resources/images/loading.gif"/><span>正在加载.......</span></div></div>').appendTo($("#cd-timeline"));
    $.ajax({
			url: known.realpath + '/user/loadShuoShuoDetail',
			type: 'POST',
			dataType: 'json',
			data: { id : ${id!''},
				userId:${user.userid?c}},
			success:function(res){
				$("#loading").remove();
				new ShuoShuoItem(res.data).appendTo($("#cd-timeline"));	
			}
		});
}
</script>

</body>
</html>