<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<#include "../include/top.html">
<link rel="stylesheet" type="text/css" href="${realpath}/resources/css/exam.css">
<script type="text/javascript" src="${realpath}/resources/js/exam.js"></script>
<title>考试专区</title>
</head>
<body>
		<#include "../include/header.html">
		<form action="${realpath}/exam/preDoExam" method="post">
		<div class="main">
		<label class="checkbox-inline">
			<input type="radio" name="categoryId"  
		         value="0" checked>全部考题</label>
		<#list categoryList as item>
		<label class="checkbox-inline">
			<input type="radio" name="categoryId"  
		         value="${item.categoryId!''}">${item.name!''}</label>
		</#list>
		</form>
		<button type="submit" class="btn btn-info" id="loadExam">进入考试</button>
		<a href="${realpath}/exam/addExam" class="btn btn-success">我要出题</a>
		<div class="examiers">发题人</div>
		<div class="examiers-detail" id="examiers-detail">
			
		</div>
		</div>
		<#include "../include/footer.html">
</body>
</html>