<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<#include "include/top.html">
	<title>首页</title>
</head>
<body>
	<#include "include/header.html">
	<div class="main">
		<ul class="tag">
			<li ><a href="${realpath}/donate">赞助站长</a></li>
			<li class="active"><a href="${realpath}/aboutWebmaster">关于站长</a></li>
			<li><a href="${realpath}/faq">常见问题</a></li>
		</ul>

		<div  class="animated flip" style="text-align:center;margin-top: 20px;font-size: 15px;">

			<p>本网站是基于作者【抽离】进行开发的，如果有问题可以在本网站联系我</p>

			<p>希望和志同道合、热爱技术的小伙伴一起把网站维护下去</p>

			<p>站长：阿杰</p>

			<p>座右铭--------不骄不傲不膨胀丶不再犹豫zzz</p>
			<br>

		</div>	
	</div>
	<#include "include/footer.html">
</body>
</html>