<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<#include "include/top.html">
	<title>首页</title>
</head>
<body>
	<#include "include/header.html">
	<div class="main">
		<ul class="tag">
			<li ><a href="${realpath}/donate">赞助知会</a></li>
			<li class="active"><a href="${realpath}/aboutWebmaster">关于知会</a></li>
			<li><a href="${realpath}/faq">常见问题</a></li>
		</ul>

		<div  class="animated flip" style="text-align:center;margin-top: 20px;font-size: 15px;">

			<p>本网站是作者：known进行开发的，如果有问题可以联系我</p>

			<p>希望和志同道合、热爱技术的小伙伴一起把网站完善下去</p>

			<p>知会：known</p>

			<p>座右铭--------天下风云出我辈，一入江湖岁月催zzz</p>
			<br>

		</div>	
	</div>
	<#include "include/footer.html">
</body>
</html>