<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<#include "include/top.html">
	<title>首页</title>
</head>
<body>
	<#include "include/header.html">
	<div class="main">
		<ul class="tag">
			<li class="active"><a href="${realpath}/donate">赞助知会</a></li>
			<li><a href="${realpath}/aboutWebmaster">关于知会</a></li>
			<li><a href="${realpath}/faq">常见问题</a></li>
		</ul>
		<div>
			<div style="float: left;">
				<div style="margin: 10px 10px;font-size: 16px;font-weight: bold;">一、微信支付</div>
				<div style="float: left;">
					<img src="${realpath}/resources/images/36890A149BCF03BBB1BC137169B8CFFA.jpg" style="width: 400px;height: 500px">
				</div>
			</div>
			<div style="float:right;">
				<div style="margin: 10px 10px;font-size: 16px;font-weight: bold;">二、支付宝支付</div>
				<div>
					<img src="${realpath}/resources/images/123asdasfafafdasdafad.png" style="width: 400px;height: 490px">
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>	
	</div>
	<#include "include/footer.html">
</body>
</html>